@import "../fonts/import-fonts.css";
@import "./combined-css-libraries.css";
@import "./components/dh-question_data_table.css";

button.nav-button-large.nav-button-large--highlight {
  background: rgb(66, 104, 0);
  color: rgb(139, 206, 17);
  font-weight: bold;
}

#resultsContainer {
  width: 100%;
}

.hr-no-margin {
  margin-bottom: 20px;
}

div.card-col-flexbox {
  display: grid;
  padding: 3em 2em 2em 2em;
}

div.card-col-flexbox #pk-quiz-card-header,
div.card-col-flexbox #pk-quiz-card-footer {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.pkBodyContainer {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  justify-items: center;
}

div.card-col-flexbox div.results--center-title {
  width: 100%;
  text-align: center;
  line-height: 0px;
}
div.card-col-flexbox #pk-quiz-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pk-quiz-card-header {
  justify-content: space-between;
}
#pk-quiz-card-footer {
  justify-content: space-evenly;
}
.ct-grid {
  stroke-dasharray: none !important;
}
.ct-grid-minor {
  stroke-dasharray: 0.1px !important;
}
#results-table {
  font-family: "Roboto", sans-serif;
}
.number-padding {
  padding: 5px 12px 5px 12px;
}
div.card-col-flexbox div.number-flex {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: right;
  grid-gap: 1.5em;
}

div.card-col-flexbox div.fill-in-the-blank--container {
  padding-right: 20vw;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: center;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table.results-table {
  width: 50vw;
  line-height: 1.7em;
  text-align: center;
}
#resultsMobileNav {
  background-color: orange;
  color: black;
}
#resultsDesktopNav {
  background-color: orange;
  color: black;
}
textarea:focus,
input:focus {
  outline: none;
}

body,
html {
  height: 100%;
  font-family: "Roboto", serif;
  font-weight: 400;
  size: 12pt;
}

h2 {
  font-family: "Roboto-Slab", serif;
  font-weight: 500;
  font-size: 24pt;
}

h3 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 12pt;
}

h4 {
  font-family: "Roboto-Slab", serif;
  font-weight: 500;
  font-size: 12pt;
}

h5 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 12pt;
}
p {
  font-family: "Roboto", serif;
  font-weight: 400;
  size: 12pt;
}

.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.submit {
  align-items: center;
  background: rgba(75, 156, 211, 0.877);
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12pt;
  transition: all 0.2s cubic-bezier(0.1, 0.1, 0.1, 0.2);
  border: none;
  cursor: pointer;
  padding: 0.5em 2em 0.5em 2em;
}

button.submit:hover {
  background: rgb(39, 105, 150);
}

button.submit:active {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.322);
  outline: none;
}
button.submit:focus {
  outline: none;
}

button.nav-button-large {
  border: 1px solid rgb(71, 110, 71);
  border-radius: 5px;
  height: 2em;
  min-width: 2em;
  cursor: pointer;
  margin: 4px 4px;
  background: none;
}

button.nav-button-large:hover {
  border: 1px solid darkgreen;
  outline: none;
  transition: ease-in 0.2s;
}

button.nav-button-large:focus {
  outline: none;
  font-weight: bold;
}
button.nav-button-large:active {
  font-weight: bold;
}
#title-div {
  font-family: "Roboto Slab";
  font-size: 24pt;
  color: rgb(54, 70, 27);
  text-shadow: 0px 1px 0 #5e88529f;
  line-height: 2em;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navButton {
  background: none;
  border: none;
  font-size: x-small;
}

.questionText {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.answers {
  font-family: "Roboto", serif;
}

.katex {
  font-size: 1.3em;
}

.pkContainerQuizDiv {
  height: 100%;
}

.mainCard {
  border-radius: 5px;
  min-height: min-content;
  max-width: 1050px;
  width: fit-content;
}

@media screen and (min-width: 601px) {
  .pkShowWhenSmall {
    display: none;
  }
  .pkShowWhenLarge {
    display: "";
  }
  .pkHideWhenLarge {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  div.pkBodyContainer {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .pkShowWhenSmall {
    display: "";
  }
  .pkShowWhenLarge {
    display: none;
  }

  .navButton {
    background-color: inherit;
    transition-duration: 0.3s;
    z-index: 50;
    width: 100.5%;
    position: relative;
    box-shadow: none;
    background-image: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-bottom: 1px solid rgba(0, 88, 4, 0.5);
    border-right: 1px solid rgb(0, 88, 4, 0.5);
    border-top: none;
    border-left: none;
    color: #222;
    float: top;
    text-shadow: 0px 0.5px 0 #3d3d3d9f;
    height: 2em;
    padding: 2px;
  }
  .navButton:last-child {
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(0, 88, 4, 0.5);
  }
  .navButton:first-child {
    border-top: 1px solid rgb(0, 88, 4, 0.5);
  }
  .navButton:hover {
    background: rgb(132, 170, 67);
    border: rgb(34, 69, 93);
    box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.267);
    transition: all 0.5;
  }

  .navButton:active {
    background-color: rgb(255, 184, 51);
  }

  .navButton:focus {
    background-color: rgb(255, 184, 51);
    border-bottom: none;
    box-shadow: none;
    outline: 2px solid rgba(75, 156, 211, 0.877);
  }
  #pkButtonMobileMenu {
    color: rgb(49, 61, 25);
    background-image: linear-gradient(#ebebeb, #d5d5d5);
    border: solid rgb(131, 131, 131);
    border-width: 0 1px 1px 0;
    transition-duration: 0.8s;
    z-index: 10;
    position: relative;
    width: 2.4em;
    height: 2.3em;
    padding-top: 0.8em;
    padding-right: 0.2em;
    text-align: center;
    float: top;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.267);
  }

  #pkButtonMobileMenu:hover .arrowSideBtn {
    transition: all 0.4s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  #pkMobileMenu {
    display: none;
    padding: none;
    line-height: 1em;
  }
  /*This area controls the small menu area. It does not include the buttons in the small menu*/

  #pkContainerMobileMenu:hover #pkMobileMenu {
    display: inline-block;
  }
  #pkButtonMobileMenu:hover {
    min-width: min-content;
    width: 100%;
    background-image: linear-gradient(rgb(245, 176, 48), orange);
    outline: 1px solid rgb(190, 137, 39);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.267);
    overflow-x: hidden;
    border-radius: 0px;
    border: none;
    padding: none;
    height: min-content;
  }

  #pkContainerMobileMenu:hover #pkButtonMobileMenu {
    width: 100%;
    background-image: linear-gradient(rgb(245, 176, 48), orange);
    outline: 1px solid rgb(190, 137, 39);
    border-radius: 0px;
    border: none;
  }
  #pkContainerMobileMenu:hover .arrowSideBtn {
    border: solid rgb(133, 86, 0);
    border-width: 0 2px 2px 0;
    transition: all 0.3s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrowSideBtn {
    border: solid rgb(119, 119, 119);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .mainCard {
    border-radius: 0px;
  }
  #pkContainerMobileMenu {
    width: 2%;
    position: fixed;
    z-index: 50;
  }
  #pkContainerMobileMenu:hover {
    width: 33%;
    background-color: rgb(158, 203, 79);
    padding-top: 0em;

    z-index: 10;
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgb(0, 88, 4, 0.5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.267);
  }

  #pkSmallBreak {
    line-height: 0.8em;
  }
}
